{% extends 'WasafiRet/base.html' %}

{% load static %}

{% block title %}Home - Wasafi Ret{% endblock %}

{% block content %}
    <h1>Welcome to Our Store</h1>
    <div class="row justify-content-center">
        <!-- Product Cards Section -->
        <div class="col-6 col-md-4 mb-2">
            <div class="card" style="max-width: 250px;">
                <img src="{% static 'images/product-01.jpg' %}" class="card-img-top img-fluid" style="max-height: 150px;" alt="Product 1">
                <div class="card-body">
                    <h5 class="card-title">Product 1</h5>
                    <p class="card-text">$19.99</p>
                    <a href="{% url 'detail' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    
        <div class="col-6 col-md-4 mb-2">
            <div class="card" style="max-width: 250px;">
                <img src="{% static 'images/product-01.jpg' %}" class="card-img-top img-fluid" style="max-height: 150px;" alt="Product 2">
                <div class="card-body">
                    <h5 class="card-title">Product 2</h5>
                    <p class="card-text">$29.99</p>
                    <a href="{% url 'detail' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-2">
            <div class="card" style="max-width: 250px;">
                <img src="{% static 'images/product-01.jpg' %}" class="card-img-top img-fluid" style="max-height: 150px;" alt="Product 3">
                <div class="card-body">
                    <h5 class="card-title">Product 3</h5>
                    <p class="card-text">$39.99</p>
                    <a href="{% url 'detail' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-2">
            <div class="card" style="max-width: 250px;">
                <img src="{% static 'images/product-01.jpg' %}" class="card-img-top img-fluid" style="max-height: 150px;" alt="Product 3">
                <div class="card-body">
                    <h5 class="card-title">Product 3</h5>
                    <p class="card-text">$39.99</p>
                    <a href="{% url 'detail' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-2">
            <div class="card" style="max-width: 250px;">
                <img src="{% static 'images/product-01.jpg' %}" class="card-img-top img-fluid" style="max-height: 150px;" alt="Product 3">
                <div class="card-body">
                    <h5 class="card-title">Product 3</h5>
                    <p class="card-text">$39.99</p>
                    <a href="{% url 'detail' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-2">
            <div class="card" style="max-width: 250px;">
                <img src="{% static 'images/product-01.jpg' %}" class="card-img-top img-fluid" style="max-height: 150px;" alt="Product 3">
                <div class="card-body">
                    <h5 class="card-title">Product 3</h5>
                    <p class="card-text">$39.99</p>
                    <a href="{% url 'detail' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-2">
            <div class="card" style="max-width: 250px;">
                <img src="{% static 'images/product-01.jpg' %}" class="card-img-top img-fluid" style="max-height: 150px;" alt="Product 3">
                <div class="card-body">
                    <h5 class="card-title">Product 3</h5>
                    <p class="card-text">$39.99</p>
                    <a href="{% url 'detail' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-2">
            <div class="card" style="max-width: 250px;">
                <img src="{% static 'images/product-01.jpg' %}" class="card-img-top img-fluid" style="max-height: 150px;" alt="Product 3">
                <div class="card-body">
                    <h5 class="card-title">Product 3</h5>
                    <p class="card-text">$39.99</p>
                    <a href="{% url 'detail' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-2">
            <div class="card" style="max-width: 250px;">
                <img src="{% static 'images/product-01.jpg' %}" class="card-img-top img-fluid" style="max-height: 150px;" alt="Product 3">
                <div class="card-body">
                    <h5 class="card-title">Product 3</h5>
                    <p class="card-text">$39.99</p>
                    <a href="{% url 'detail' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
