
.activity-summary, .security-settings {
    margin-top: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #45a049;
}


.profile-info p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.profile-info h1 {
    color: #333;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

 body {
        background-color: #854f6c;
      }
       header {
        padding: 20px;
        background-color: #DFB6B2;
        border-bottom: 2px solid #ddd;
      }

      .slideshow {
        margin: 0 auto;
        width: 150%;
        max-width: 1200px;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .myslides {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .prev {
        right: 10px;
      }

      .next {
        right: 10px;
      }


      .active {
        background-color: #717171;
      }
      .flashsale-img {
        width: 100%;
        max-width: 1200px;
        height: 500px;
      }

      @media (max-width: 768px) {
        .flashsale-img {
          width: 60%;
          height: 200px;
        }
      }

      @media (min-width: 769px) and (max-width: 1200px) {
        .flashsale-img {
          width: 100%;
          max-width: 1000px;
          height: 200px;
        }
      }
      @media (min-width: 1201px) {
        .flashsale-img {
          width: 180%;
          height: 300px;
        }
      }
      .navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

      .navbar-text {
          margin-right: 15px; 
          font-weight: bold; 
          color: #333; 
          display: inline-block;
          list-style:none;
      }

      .dropdown-menu {
          min-width: 200px; 
      }

      .user-greeting {
          list-style: none;
          margin: 0;
          padding: 0; 
      }

      .settings-dropdown .dropdown-menu {
          list-style: none; 
          padding: 0; 
      }

      .settings-dropdown .dropdown-item {
          text-decoration: none; 
      }

.card-img-top{
    width:100%;
    height:150px;
    object-fit: cover;

}