
.container {
     background-color: #DFB6B2;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    
}
.activity-summary, .security-settings {
    margin-top: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #45a049;
}


.profile-info p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.profile-info h1 {
    color: #333;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

